<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Hizrian
						<span class="user-level">Administrator</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="#profile">
								<span class="link-collapse">My Profile</span>
							</a>
						</li>
						<li>
							<a href="#edit">
								<span class="link-collapse">Edit Profile</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Settings</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li class="nav-item">
				<a href="/Dashboard">
					<i class="fa-solid fa-gauge-high"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/AboutMe">
					<i class="fa-solid fa-address-card"></i>
					<p>About</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Experience/ExperienceList">
					<i class="fa-solid fa-star"></i>
					<p>Experience</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Feature">
					<i class="fa-brands fa-creative-commons-by"></i>
					<p>Feature</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Contact">
					<i class="fa-solid fa-file-signature"></i>
					<p>Contact</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Portfolio">
					<i class="fa-solid fa-magnifying-glass-chart"></i>
					<p>Portfolio</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Skill">
					<i class="fa-solid fa-hand-sparkles"></i>
					<p>Skills</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Reference">
					<i class="fa-solid fa-people-arrows"></i>
					<p>References</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/SocialMedia">
					<i class="fa-solid fa-hashtag"></i>
					<p>Social Media</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Message">
					<i class="fa-solid fa-inbox"></i>
					<p>Mail Box</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="#">
					<i class="fa-solid fa-right-from-bracket"></i>
					<p>Logout</p>
				</a>
			</li>
			
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Icons</p>
				</a>
			</li>
			
		</ul>
	</div>
</div>