<section id="stats" class="s-stats">
	<div class="row block-1-4 block-tab-1-2 block-mob-full stats">

		<div class="col-block stats__col ">
			<div class="stats__count">
				@ViewBag.ExperienceCount
			</div>
			<h4>Experience Gained</h4>
		</div>
		
		<div class="col-block stats__col stats__col--highlight">
			<div class="stats__upsign">
				<a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
			</div>
			<div class="stats__count">
				@ViewBag.PortfolioCount
			</div>
			<h4>Projects Completed</h4>
		</div> 
		<div class="col-block stats__col ">
			<div class="stats__count">
				@ViewBag.SkillsCount
			</div>
			<h4>Skill Acquired</h4>
		</div>

		<div class="col-block stats__col stats__col--highlight">
			<div class="stats__upsign">
				<a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
			</div>
			<div class="stats__count">
				@ViewBag.TestimonialCount
			</div>
			<h4>Reference Obtained</h4>
		</div>


	</div>
</section>