@model List<Proffessional_Portfolio.DAL.Entities.Feature>
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://images.pexels.com/photos/270408/pexels-photo-270408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

	<div class="overlay"></div>
	<div class="shadow-overlay"></div>

	<div class="home-content">

		@foreach (var item in Model)
		{
			<div class="row home-content__main">

				<h3>@item.Title</h3>

				<h1>
					@* I am Jonathan Doe. <br>
					I am a graphic & UI/UX <br>
					designer based in Somewhere. *@
					@item.Description
				</h1>

				<div class="home-content__buttons">
					<a href="#works" class="smoothscroll btn btn--stroke">
						Latest Projects
					</a>
					<a href="#about" class="smoothscroll btn btn--stroke">
						More About Me
					</a>
				</div>

				<div class="home-content__scroll">
					<a href="#about" class="scroll-link smoothscroll">
						<span>Scroll Down</span>
					</a>
				</div>

			</div>
		}

	</div> <!-- end home-content -->

	<ul class="home-social">
		@await Component.InvokeAsync("_SocialMediaComponentPartial")
	</ul>
	<!-- end home-social -->

</section> 