@model Proffessional_Portfolio.DAL.Entities.Portfolio
@{
	ViewData["Title"] = "CreatePortfolio";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Add Portfolio</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								You can add your projects:
							</div>
							<a href="/Portfolio" type="button" class="btn btn-success float-right my-2">Back List</a>

							<div class="form">
								<form asp-action="CreatePortfolio" method="post">
									<div class="form-group">
										<label for="exampleFormControlInput1">Title</label>
										<input type="text" class="form-control" asp-for="Title" id="" required>
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">SubTitle</label>
										<input type="text" class="form-control" asp-for="SubTitle" id="" required>
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">ImageUrl</label>
										<input type="text" class="form-control" asp-for="ImageUrl" id="" required>
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">Url</label>
										<input type="text" class="form-control" asp-for="Url" id="" required>
									</div>
									
									<div class="form-group">
										<label for="exampleFormControlTextarea1">Description</label>
										<textarea class="form-control" asp-for="Description" id="" rows="6" required></textarea>
									</div>
									<button class="btn btn-success">Add</button>
								</form>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

</div>

