@model Proffessional_Portfolio.DAL.Entities.About

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">About Me Section</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								You can read your About Me Section:
							</div>


							<div class="form">
								<div class="form-group">
									<label for="exampleFormControlInput1"><strong>Title:  </strong>@Model.Title</label>
								</div>

								<div class="form-group">
									<label for="exampleFormControlTextarea1"><strong>SubDescription:  </strong>@Model.SubDescription</label>
								</div>

								<div class="form-group">
									<label for="exampleFormControlTextarea1"><strong>Details:  </strong>@Model.Details</label>
								</div>
								<a href="/AboutMe/UpdateAbout/@Model.AboutId" class="btn btn-primary">Edit</a>

							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

</div>

