@model Proffessional_Portfolio.DAL.Entities.About

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="main-panel">
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Update About Me Section</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								You can update your About Me Section:
							</div>


							<div class="form">

								<form asp-action="UpdateAbout" method="post">
									<input type="hidden" asp-for="AboutId" />

									<div class="form-group">
										<label for="exampleFormControlInput1">Title</label>
										<input type="text" class="form-control" asp-for="Title" id="exampleFormControlInput1" placeholder="@Model.Title" required>
									</div>

									<div class="form-group">
										<label for="exampleFormControlTextarea1">SubDescription</label>
										<textarea class="form-control" asp-for="SubDescription" id="exampleFormControlTextarea1" placeholder="@Model.SubDescription" rows="4" required></textarea>
									</div>

									<div class="form-group">
										<label for="exampleFormControlTextarea1">Details</label>
										<textarea class="form-control" asp-for="Details" id="exampleFormControlTextarea1" placeholder="@Model.Details" rows="4" required></textarea>
									</div>
									<button class="btn btn-success">Update</button>
								</form>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

</div>

