@model Proffessional_Portfolio.DAL.Entities.Skill

@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}




<div class="main-panel">
	<div class="content">
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Add Skill</div>
						</div>
						<div class="card-body">
							<div class="card-sub">
								You can add your skills:
							</div>
							<a href="/Skill" type="button" class="btn btn-success float-right my-2">Back List</a>

							<div class="form">
								<form asp-action="UpdateSkill" method="post">
									<input type="hidden" class="form-control" asp-for="SkillId" id=""  required>

									<div class="form-group">
										<label for="exampleFormControlInput1">Title</label>
										<input type="text" class="form-control" asp-for="Title" id="" placeholder="@Model.Title" required>
									</div>
									<div class="form-group">
										<label for="exampleFormControlInput1">Value</label>
										<input type="text" class="form-control" asp-for="Value" id="" placeholder="@Model.Value" required>
									</div>

									<button class="btn btn-success">Update</button>
								</form>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</div>

</div>



