<footer>
	<div class="row">
		<div class="col-full">

			<div class="footer-logo">
				<a class="footer-site-logo" href="#0"><img src="~/hola-master/images/Başlıksız-1.png" alt="Homepage"></a>
			</div>

			<ul class="footer-social">
				@await Component.InvokeAsync("_SocialMediaComponentPartial")
				
			</ul>

		</div>
	</div>

	<div class="row footer-bottom">

		<div class="col-twelve">
			<div class="copyright">
				<span>© Copyright ismaildev @DateTime.Now.Year</span>
				
			</div>

			<div class="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
			</div>
		</div>

	</div> <!-- end footer-bottom -->

</footer>