<footer>
	<div class="row">
		<div class="col-full">

			<div class="footer-logo">
				<a class="footer-site-logo" href="#0"><img src="~/hola-master/images/logo.png" alt="Homepage"></a>
			</div>

			<ul class="footer-social">
				<li>
					<a href="#0">
						<i class="im im-facebook" aria-hidden="true"></i>
						<span>Facebook</span>
					</a>
				</li>
				<li>
					<a href="#0">
						<i class="im im-twitter" aria-hidden="true"></i>
						<span>Twitter</span>
					</a>
				</li>
				<li>
					<a href="#0">
						<i class="im im-instagram" aria-hidden="true"></i>
						<span>Instagram</span>
					</a>
				</li>
				<li>
					<a href="#0">
						<i class="im im-behance" aria-hidden="true"></i>
						<span>Behance</span>
					</a>
				</li>
				<li>
					<a href="#0">
						<i class="im im-pinterest" aria-hidden="true"></i>
						<span>Pinterest</span>
					</a>
				</li>
			</ul>

		</div>
	</div>

	<div class="row footer-bottom">

		<div class="col-twelve">
			<div class="copyright">
				<span>© Copyright ismaildev @DateTime.Now.Year</span>
				
			</div>

			<div class="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
			</div>
		</div>

	</div> <!-- end footer-bottom -->

</footer>