@model List<Proffessional_Portfolio.DAL.Entities.Skill>
<div class="col-six tab-full right">
	<h3>I've Got Some skills.</h3>

	<ul class="skill-bars">
	@foreach (var item in Model)
		{
			<li>
				<div class="progress percent90"><span>@item.Value %</span></div>
				<strong>@item.Title</strong>
			</li>
		}
		
	</ul>
</div>